.wp-block-latest-posts__featured-image {
	float: left;
	margin-right: 10px;
}
.wp-block-latest-posts__featured-image img {
	width: 60px;
}

.sidebar .bwm {
	padding: 15px 0;
	border: 1px solid #ffffff;
	margin-bottom: 30px;
}

[id*='bmw-'] {
	margin-bottom: 30px;
}

.wc-block-grid__products .wc-block-grid__product-image img {
    height: auto;
    max-width: 90px;
    max-height: 90px;
    width: 100%;
    object-fit: contain;
}

.wp-block-search__label, .widget_block .wp-block-heading {
    position: relative;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 40px;
	color: var(--sp-white);
    padding: 10px 0px;
}

.wp-block-search__label{
    background: var(--sp-gradient1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sidebar figure.wp-block-gallery.has-nested-images, .sidebar .wp-block-image {
	padding: 20px;
}
.wp-block-search__label, .widget_block .wp-block-heading:after {
    content: '';
    width: 50px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--sp-gradient1);
}

.wp-block-search__label {
	display: none;
}

/* Archives */
.wp-block-archives-dropdown select {
    padding: 10px;
    border: none;
    outline: none;
    width: 100%;
	color: initial;
}

footer .wp-block-archives-list, footer .wp-block-archives-list a, .sidebar .wp-block-archives-list, .sidebar .wp-block-archives-list a {
    color: var(--sp-white);
}

.wp-block-archives-list a {
	width: calc(100% - 40px);
    display: inline-block;
    padding-bottom: 10px;
}

.wp-block-archives-list li{
    margin-bottom: 10px;
    border-bottom: 1px solid;
}

/* Categories */
.sidebar .wp-block-categories-list, .sidebar .wp-block-categories-list a, footer .wp-block-categories-list, footer .wp-block-categories-list a {
    color: var(--sp-white);
}
.wp-block-categories-list li.cat-item {
    margin-bottom: 10px;
    border-bottom: 1px solid;
}
.wp-block-categories-list a {
    width: calc(100% - 40px);
    display: inline-block;
    padding-bottom: 10px;
}
.wp-block-categories-dropdown select {
    padding: 10px;
    border: none;
    outline: none;
    width: 100%;
	color: initial;
}

/* Latest Comments */
.wp-block-latest-comments__comment-meta a {
	color: var(--sp-primary);
}
footer .wp-block-latest-comments__comment-meta time, .sidebar .wp-block-latest-comments__comment-meta time {
	color: var(--sp-white);
}

.wp-block-latest-comments {
	padding-left: 0;
}

.wp-block-latest-comments__comment {
    border: 1px solid #949494;
    padding: 10px;
}

.wp-block-latest-comments__comment-excerpt p {
    margin-bottom: 0;
}


footer .wp-block-latest-comments__comment-excerpt p, .sidebar .wp-block-latest-comments__comment-excerpt p {
    color: var(--sp-white);
}


/* Calendar */
table.wp-calendar-table {
    width: 100%;
    text-align: center;
    background-color: #000;
}

.wp-block-calendar .wp-calendar-table caption {
    caption-side: top;
    background: var(--sp-primary);
    padding: 10px;
    color: var(--secondary-color);
    font-weight: 600;
}
.sidebar .wp-block-calendar .wp-calendar-table caption {
    position: unset;
    color: var(--sp-white);
    background: #e9e9e92b !important;
}

.wp-calendar-table thead tr th {
    color: var(--sp-primary);
    background-color: transparent;
    border-color: #ddd;
    padding-top: 20px;
}

.wp-calendar-table tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
.wp-calendar-table tbody tr td {
    padding: 8px;
}

.sidebar tbody, footer tbody, .wp-calendar-table tbody a {
    color: #fff;
}

.wp-block-calendar {
	position: relative;
}

.wp-calendar-nav {
	position: absolute;
    top: 0;
    right: 0;
    font-weight: 600;
    padding: 10px;
}
.wp-calendar-nav a, .wp-calendar-nav a:hover, .wp-calendar-nav a:focus{
	color: var(--secondary-color) !important;
}

/* Latest Post */
.wp-block-latest-posts__post-title {
    color: var(--sp-primary);
}

.wp-block-latest-posts.wp-block-latest-posts__list li {
	border: 1px solid;
    padding: 10px;
	margin-bottom: 1em; 
    color: var(--sp-white);
    border-color: #545454;
}

.sidebar .wp-block-latest-posts.wp-block-latest-posts__list li { 
    color: var(--light);
}

.wp-block-latest-posts__post-excerpt {
    margin-bottom: 0;
    color: var(--sp-white);
}

/* Login Link & Login Form */
[id *='loginform'] label{
	display: block;
}
[id *='loginform'] input[type='text'], [id *='loginform'] input[type='password'] {
	display: block;
    width: 100%;
    padding: 7px 14px;
    color: var(--sp-black);
}
[id *='loginform'] input[type='submit'] {
	border: none;
    background: var(--sp-primary);
    padding: 3px 10px;
    border-radius: 2px;
}

/* Page list */
.wp-block-pages-list__item a {
	display: block;
	padding-bottom: 10px;
}
footer .wp-block-pages-list__item a, .sidebar .wp-block-pages-list__item a {
	color: var(--sp-white);
}
.wp-block-pages-list__item a:hover {
	color: var(--sp-primary);
}
.wp-block-pages-list__item {
	margin-bottom: 10px;
	/* border-bottom: 1px solid var(--sp-primary); */
}

.wp-block-pages-list__item a:before {
    content: '\f00c';
    font-family: fontawesome;
    margin-right: 10px;
    color: var(--sp-black);
    background: #ffffff;
    width: 17px;
    height: 17px;
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    line-height: 17px;
    font-size: 11px;
    vertical-align: middle;
    margin-top: -1px;
}

/* Rss Feed */
.wp-block-rss__item {
    border: 1px solid;
    margin-bottom: 16px;
    padding: 10px;
}
.wp-block-rss__item .wp-block-rss__item-title a {
	color: var(--sp-primary);
}

/* Tag Clouds */
.wp-block-tag-cloud .tag-cloud-link {
	font-size: 1rem !important;
    color: var(--sp-white);
    background: var(--sp-gradient1);
    padding: 5px 10px;
    border-radius: 4px;
	margin-bottom: 5px;
    display: inline-block;
}

/* Search */
.wp-block-search__inside-wrapper {
    display: flex;
    flex: auto;
    flex-wrap: nowrap;
    max-width: 100%;
}
.wp-block-search__button {
    margin-left: 10px;
    word-break: normal;
}
.wp-block-search__inside-wrapper .wp-block-search__input {
    outline: none;
    padding: 10px 15px;
}

.wp-block-search__inside-wrapper .wp-block-search__button {
    border-radius: 0;
    border: none;
    outline: none;
    background-color: var(--sp-primary);
    color: var(--sp-white);
    font-weight: 600;
}

/* Grid Products */
.wc-block-grid__product .wc-block-grid__product-link .wc-block-grid__product-image {
	width: 90px;
	float: right;
}
.wc-block-grid__product .wc-block-grid__product-link .wc-block-grid__product-image img {
	border-radius: 100%;
}

/* Product Categories */

[class*='wc-block-product-categories-list--depth-'] {
	width: 100%;
	padding-left: 0;
}

.wc-block-product-categories-list a:hover, .wc-block-product-categories-list a:focus {
	color: var(--sp-white);
}

.wc-block-product-categories__dropdown {
	flex: 1;
	margin-right: 0.5em;
}

.wc-block-product-categories__button {
	border: none;
    color: var(--sp-white);
	background-color: var(--sp-white);
	padding: 0 11px;
    border-radius: 0;
}

.wc-block-product-categories-list-item {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	position: relative;
}
.wc-block-product-categories-list-item ul:not(.wc-block-product-categories-list--has-images) {
	padding-left: 10px;
}

li.wc-block-product-categories-list-item::before, .wc-block-product-categories-list-item ul::before {
    content: '';
    position: absolute;
    width: 100%;
    right: 0;
}

li.wc-block-product-categories-list-item::before {
    bottom: -3px;
    border-bottom: 1px solid var(--sp-white);	
}
.wc-block-product-categories-list-item ul li:last-child::before {
	border-bottom: none;
}
.wc-block-product-categories-list-item ul::before {
    border-top: 1px solid var(--sp-white);
}

li.wc-block-product-categories-list-item:has(.wc-block-product-categories-list-item__image)::before {
    width: calc(100% + 60px);
}
.wc-block-product-categories-list-item a {
    padding: 10px 0;
    color: var(--sp-white);
}

.wc-block-product-categories-list--has-images .wc-block-product-categories-list-item {
    clear: both;
    list-style: none outside;
    margin: 4px 0 4px 60px;
}
.wc-block-product-categories-list--has-images .wc-block-product-categories-list-item__image {
    border: 1px solid #eee;
    display: inline-block;
    margin: 0 .5em 0 -60px;
    max-width: 50px;
    padding: 0;
    position: relative;
    vertical-align: middle;
}


/* Price Filter */
.wc-block-components-price-slider__range-input-progress {    
    --range-color: var(--sp-primary) !important;
}

.wc-block-components-price-slider__range-input-wrapper:before {
	background-color: var(--sp-primary) !important;
}

/*===========
	Footer
============*/

.footer-section select {
	padding: 10px;
	color: initial;
	width:100%;
}

.footer-section .widget-block label, .footer-section .wp-block-group label {
	color: var(--sp-white);    
}

.footer-section .wp-block-button__link {
    color: var(--sp-white);   
    padding: 8px 20px;
    border-radius: 2px;
	background: var(--sp-gradient1);
}

.footer-section .wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link {
	padding: 5px 12px;
}

/* Latest Comments */
.footer-section .wp-block-latest-comments {
    color: var(--sp-white);
}

/* Latest Posts */
.footer-section .wp-block-latest-posts
{
    color: var(--sp-white);
}

/* Login Link & Login Form */
.footer-section .wp-block-loginout a {
	color: var(--sp-primary);
}

/* Rss Feed */
.footer-section .wp-block-rss__item {
	color: var(--sp-white);
}

/* Grid Products */
.footer-section .wc-block-grid__product {
	color: var(--sp-white);
	text-align: left;
	border: 0;
    padding: 10px 15px 0;
    border-bottom: 1px solid;
}
.footer-section .wc-block-grid__product .wc-block-grid__product-link {
	color: var(--sp-primary);
	display: block;
}

/* Product Categories */
.footer-section .wc-block-product-categories-list, .footer-section .wc-block-product-categories-list a {
	color: var(--sp-white);
}

/* Mini Cart */
.wc-block-mini-cart__quantity-badge {
    align-items: center;
    display: flex;
    position: relative;
}
.wc-block-mini-cart__button {
    stroke: var(--sp-primary);
    align-items: center;
    background: transparent;
    border: none;
    color: inherit;
    display: flex;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: .75em .5em;
}
.wc-block-mini-cart__badge {
	color: var(--sp-primary);
}

/* Product Archives */
.footer-section .widget_archive li, .footer-section .widget_archive li a {
	color: var(--sp-primary);
}
.footer-section .widget_archive li a {
	width: calc(100% - 40px);
    display: inline-block;
}

/* Price Filter */
.footer-section .wc-block-price-filter__title, .footer-section .wc-block-stock-filter__title, .footer-section .wc-block-components-price-slider__range-text, .footer-section .wc-block-components-filter-reset-button {
	color: var(--sp-white);
}

/*===========
	Sidebar
============*/

/* Archives */
.sidebar .wp-block-archives-dropdown select {
	border: 1px solid;
}
/* Categories */
 .sidebar .wp-block-categories-dropdown select {
	border: 1px solid;
}
/* Search */
.sidebar .wp-block-search__inside-wrapper .wp-block-search__input {
    border: 1px solid #949494;
}

/* Grid Products */
.sidebar .wc-block-grid__product {
	text-align: left;
	border: 0;
    padding: 10px 15px 0;
    border-bottom: 1px solid;
}
.sidebar .wc-block-grid__product .wc-block-grid__product-link {
	color: var(--sp-primary);
	display: block;
}

.sidebar select {
	padding: 10px;
	color: initial;
	width:100%;
	border: 1px solid;
}

.sidebar .wc-block-product-categories select {
	border: 1px solid;
}

.sidebar .wc-block-price-filter__amount  {
	color: initial;
}


/* Custom */

.wc-block-grid__product .wc-block-grid__product-image:not(.wc-block-components-product-image), .wc-block-grid__product .wc-block-grid__product-title {
    margin: 0 0 12px;
}

.wc-block-grid__product .wc-block-grid__product-add-to-cart, .wc-block-grid__product .wc-block-grid__product-onsale, .wc-block-grid__product .wc-block-grid__product-price, .wc-block-grid__product .wc-block-grid__product-rating
{
    margin: 0 auto 12px;
}

.wc-block-product-categories.is-dropdown {
    display: flex;
}

:where(.wp-block-search__button-inside .wp-block-search__inside-wrapper) {
    border: 1px solid #949494;
    box-sizing: border-box;
    padding: 4px;
}
.widget_calendar .wp-calendar-table caption {
    background: var(--sp-gradient1) !important;
}

.wp-block-latest-comments .avatar, .wp-block-latest-comments__comment-avatar {
    border-radius: 1.5em;
    display: block;
    float: left;
    height: 2.5em;
    margin-right: .75em;
    width: 2.5em;
}
.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt, .has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta {
    margin-left: 3.25em;
}

.wp-block-calendar table:where(:not(.has-text-color)) td, .wp-block-calendar table:where(:not(.has-text-color)) th {
    border-color: #ddd;
}

/* Social Icons */
.wp-block-social-links .wp-block-social-link.wp-social-link .wp-block-social-link-anchor, .wp-block-social-links .wp-block-social-link.wp-social-link .wp-block-social-link-anchor svg, .wp-block-social-links .wp-block-social-link.wp-social-link .wp-block-social-link-anchor:active, .wp-block-social-links .wp-block-social-link.wp-social-link .wp-block-social-link-anchor:hover, .wp-block-social-links .wp-block-social-link.wp-social-link .wp-block-social-link-anchor:visited {
    color: currentColor;
    fill: currentColor;
}

:root :where(.wp-block-social-links .wp-social-link a) {
    padding: .50em;
}

body .is-layout-flex {
    display: flex;
    gap: 10px;
}
.wp-block-social-link a {
    align-items: center;
    display: flex;
    line-height: 0;
    transition: transform .1s ease;
}
.is-layout-flex {
    flex-wrap: wrap;
    align-items: center;
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-fivehundredpx {
    background-color: #000;
    border-radius: 50%;
}
:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-wordpress {
    background-color: #3499cd;
    border-radius: 50%;
}
:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-amazon {
    background-color: #f90;
    border-radius: 50%;
}
:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-bandcamp {
    background-color: #1ea0c3;
    border-radius: 50%;
}


.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link {
    display: inline-flex;
    font-size: 1em;
    justify-content: center;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    white-space: normal;
    word-break: break-word;
}



/****** widget_block ********/

.sidebar .widget.widget_block {
    color: var(--sp-white);
}
.sidebar .widget_block .wp-block-heading {
    position: relative;
    z-index: 1;
    padding: 12px;
    color: var(--sp-white);
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    margin: 20px 20px 30px 90px;
    background: var(--sp-gradient1);
    border-radius: 100px;
}


.sidebar .widget_block .wp-block-heading::before {
    content: '';
	font-family: 'FontAwesome';
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background: var(--sp-gradient1);
}
.sidebar .widget_block .wp-block-heading::after {
    content: '';
    width: calc(100% + 74px);
    height: 2px;
    z-index: -1;
}

.sidebar .widget_block .wp-block-heading:before, .sidebar .widget_block .wp-block-heading::after {
	position: absolute;
    left: -74px;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar .widget_block .wp-block-heading:has( + .wp-block-archives)::before {
	content: "\f07c";
}

.sidebar .widget_block .wp-block-heading:has( + .wp-block-calendar)::before {
	content: "\f073";
}

.sidebar .widget_block .wp-block-heading:has( + .wp-block-categories)::before {
	content: "\f0c9";
}

.sidebar .widget_block .wp-block-heading:has( + .wp-block-latest-comments)::before {
	content: "\f086";
}

.sidebar .widget_block .wp-block-heading:has( + .wp-block-latest-posts)::before {
	content: "\f27a";
}

.sidebar .widget_block .wp-block-heading:has( + .wp-block-page-list)::before {
	content: "\f0ca";
}

.sidebar .widget_block .wp-block-heading:has( + .wp-block-rss)::before {
	content: "\f143";
}

.sidebar .widget_block .wp-block-heading:has( + .wp-block-social-links)::before {
	content: "\f1e0";
}

.sidebar .widget_block .wp-block-heading:has( + .wp-block-tag-cloud)::before {
	content: "\f0c2";
}

.sidebar .widget_block .wp-block-heading:has( + .wp-block-loginout)::before {
	content: "\f15c";
}

.sidebar .widget_block .wp-block-heading:has( + .wp-block-search)::before {
	content: "\f002";
}

.sidebar .widget_block .wp-block-heading:has( + .wp-block-gallery)::before {
	content: "\f302";
}

.sidebar .widget_block .wp-block-heading:has( + .wp-block-image)::before {
	content: "\f03e";
}

.sidebar .widget_block .wp-block-heading:has( + .wp-block-woocommerce-all-reviews)::before {
	content: "\f005";
}

.sidebar .widget_block .wp-block-heading:has( + .wp-block-woocommerce-featured-category)::before {
	content: "\f0c9";
}

.sidebar .widget_block .wp-block-heading:has( + .wp-block-woocommerce-stock-filter)::before {
	content: "\f0b0";
}

.sidebar .widget_block .wp-block-heading:has( + .wp-block-woocommerce-filter-wrapper)::before {
	content: "\f0d6";
}

.sidebar .widget_block .wp-block-heading:has( + .wp-block-woocommerce-mini-cart)::before {
	content: "\f07a";
}

.sidebar .widget_block .wp-block-heading:has( + [class*='wp-block-woocommerce-product'])::before, .sidebar .widget_block .wp-block-heading:has( + .wp-block-woocommerce-handpicked-products )::before, .sidebar .widget_block .wp-block-heading:has( + .wp-block-woocommerce-featured-product )::before {
	content: "\f288";
}

.sidebar .widget_block .wp-block-group__inner-container > ul,
.sidebar .widget_block .wp-block-group__inner-container > ol,
.sidebar .widget_block .wp-block-group__inner-container > form,
.sidebar .widget_block .wp-block-group__inner-container > p,
.sidebar .widget_block .wp-block-group__inner-container > div {
    padding: 0 20px 20px;
}
.sidebar .widget_block .wp-block-group__inner-container > div > label {
    color: var(--sp-white);
}

.sidebar .widget_block .wp-block-group__inner-container > div.wp-block-calendar{
    padding: 0;
}

.sidebar .widget_block ol.wp-block-latest-comments{
    list-style: none;
}

.sidebar .wp-block-loginout > a {
    background: var(--sp-gradient1);
    color: var(--sp-white);
    padding: 8px 20px;
    border-radius: var(--sp-radius);;
}
.wp-block-table table, .wp-block-file__button, .wp-block-button__link {
    background: var(--sp-gradient1);
    color: var(--sp-white);
    padding: 8px 20px;
    font-size: 16px;
    border-radius: var(--sp-radius);
}

.wp-block-table table, .wp-block-file__button:hover, .wp-block-button__link:hover {
    color: var(--sp-white);
}