/* Widget Title */
.widget-title {
    margin-bottom: 20px;
	position: relative;
	font-size: 22px;
	font-weight: 700;
	line-height: 1.2;
	color: var(--sp-white);
	background: var(--secondary-color);
	padding: 10px 0px;
}

footer .widget:hover .widget-title {
    background: linear-gradient(to right, var(--sp-primary2) 0, #fff 10%, var(--sp-primary) 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
}
.widget .widget-title:after {
content: '';
width: 50px;
height: 2px;
position: absolute;
bottom: 0;
left: 0;
background: var(--sp-gradient1);
}

/* Search Form */
.widget_product_search form {
	display: flex;
}
.widget_product_search form .search-field {
	flex: 1;
    margin-right: 10px;
    padding: 7px;
}
.widget_product_search form button[type='submit']{
	border: none;
	border-radius: 0;
    background: var(--sp-primary);
    color: var(--sp-white);
}

/* Woocommerce Color List */ 
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item span {
	float: right;
}

.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item a {
	display: inline-block;
	padding-bottom: 10px;
}

.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item {
	border-bottom: 1px solid;
    margin-bottom: 10px;
}

.woocommerce .woocommerce-widget-layered-nav-dropdown__submit {
	border: none;
	padding: 6px 16px;
	background-color: var(--sp-primary);
	color: var(--sp-white);
	border-radius: 4px;
}

/* categories List */
.widget_product_categories .product-categories .cat-item {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	position: relative;
}

.widget_product_categories .product-categories .cat-item::before, .widget_product_categories .product-categories .cat-item ul.children::before {
	content: '';
    position: absolute;
    width: 100%;
    right: 0;
}

.widget_product_categories .product-categories .cat-item a{
	flex: 1;
	padding: 10px 0;
}

.widget_product_categories .product-categories .cat-item ul.children{
    width: 100%;
    padding-left: 2rem;
}

.widget_product_categories .product-categories .cat-item ul.children .cat-item::before{
	border-top: 1px solid var(--sp-white);
	top: -3px;
}
.widget_product_categories .product-categories .cat-item ul.children .cat-item:last-child::before{
	border-bottom: none;
}

.widget_product_categories .product-categories .cat-item:not(ul.children li)::before{
	bottom: -3px;
    border-bottom: 1px solid var(--sp-white);
}

ul.product_list_widget li {
	border-bottom: 1px solid;
}

/* Tag Clouds */
.widget_product_tag_cloud .tagcloud {
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.widget_product_tag_cloud .tagcloud a {
	font-size: 16px !important;
	border-radius: 4px;
	color: var(--sp-black);
	background: var(--sp-white);
	margin: 0 5px 5px 0;
	padding: 7px 10px;
}

/* Archives */
.widget_archive select {
    padding: 10px;
    border: none;
    outline: none;
    width: 100%;
	color: initial;
}

.widget_archive, .widget_archive a {
    color: var(--sp-white);
}

.widget_archive a {
	width: calc(100% - 30px);
    display: inline-block;
    padding-bottom: 10px;
}

.widget_archive li{
    margin-bottom: 10px;
    border-bottom: 1px solid;
}

/* Categories */
.widget_categories, .widget_categories a {
    color: var(--sp-primary);
}
.widget_categories li.cat-item {
    margin-bottom: 10px;
    border-bottom: 1px solid;
}
.widget_categories a {
	width: calc(100% - 40px);
    display: inline-block;
    padding-bottom: 10px;
}
.widget_categories select {
    padding: 10px;
    border: 1px solid;
    outline: none;
    width: 100%;
	color: initial;
}

/* Widget Pages */
.widget_pages .page_item {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	position: relative;
}

.widget_pages .page_item::before {
	content: '';
    position: absolute;
    width: 100%;
    right: 0;
}

.widget_pages .page_item a{
	flex: 1;
	padding: 10px 0;
	color: var(--sp-white);
}
/* .widget_nav_menu .page_item a:before, */
.widget_pages .page_item a:before {
    content: '\f00c';
    font-family: fontawesome;
    margin-right: 10px;
    color: var(--sp-secondary-dark);
    background: #ffffff;
    width: 17px;
    height: 17px;
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    line-height: 17px;
    font-size: 11px;
    vertical-align: middle;
    margin-top: -1px;
}

.widget_pages .page_item::before{
	bottom: -3px;
    border-bottom: 1px solid var(--sp-white);
}

/* Meta */
.widget_meta a {
	padding: 10px 0;
	color: var(--sp-white);
	border-bottom: 1px solid var(--sp-white);
	display: block;
}

/* Nav Menu */
.widget_nav_menu .menu-item {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	position: relative;
}

.widget_nav_menu .menu-item::before, .widget_nav_menu .menu-item ul.sub-menu::before {
	content: '';
    position: absolute;
    width: 100%;
    right: 0;
}

.widget_nav_menu .menu-item a{
	flex: 1;
	color: var(--sp-white);
	padding: 10px 0;
}

.widget_nav_menu .menu-item ul.sub-menu {
	width: 100%;
	padding-left: 10px;
}

.widget_nav_menu .menu-item ul.sub-menu .menu-item::before{
	border-top: 1px solid var(--sp-white);
	top: -3px;
}
.widget_nav_menu .menu-item ul.sub-menu .menu-item:last-child::before{
	border-bottom: none;
}

.widget_nav_menu .menu-item:not(ul.sub-menu li)::before{
	bottom: -3px;
    border-bottom: 1px solid var(--sp-white);
}
/* Recent Commnets */
.widget_recent_comments .recentcomments {
	border: 1px solid;
	padding: 5px;
	margin-bottom: 16px;
}

.widget_recent_comments .recentcomments a {
	color: var(--sp-white);
}
.widget_recent_comments .recentcomments a.url {
	font-size: 16px;
}

/* Recent Post Entry */
.widget_recent_entries li {
	border: 1px solid;
	padding: 5px;
	margin-bottom: 16px;
}


/* Rss */
.rss-widget-title {
	color: var(--sp-white);
} 

.widget_rss li {
	border: 1px solid;
	padding: 5px;
	margin-bottom: 16px;
}

.widget_rss li a {
	color: var(--sp-primary);
}

.widget_rss .rss-date {
	display: block;
	color: var(--sp-white);
}
.widget_rss .rssSummary,
.sidebar .widget_text {
	color: var(--sp-white);
}
.sidebar .wp-caption p.wp-caption-text{
	color: var(--sp-black);
}

/*Search */
.widget_search label .search-field {
	width: 100%;
	padding: 5px 10px;	
}

/* Custom Widget */
.widget img {
	max-width: 100%;
	height: auto;
	display: unset;
}

/* Calendar */
.widget_calendar .wp-calendar-table caption {
    caption-side: top;
    background: var(--sp-primary);
    padding: 10px;
    color: var(--sp-white);
    font-weight: 600;
}

/* Tag Cloud */
.widget_tag_cloud .tagcloud a {
    padding: 0 15px;
    background: #fff;
    box-shadow: 0 0 1px var(--sp-primary);
    text-decoration: none;
    color: var(--sp-primary);
    transition: 0.85s;
    line-height: 40px;
    margin: 0 4px 5px 0;
    display: inline-block;
	font-size: 16px !important;
}

.widget_tag_cloud .tagcloud a:hover {
    background: var(--sp-primary);
    color: #fff;
}

/* Legacy Cart */
.cart-footer .cart-ft-amt {
	color: var(--sp-white);
}

/*========
 Sidebar 
 =========*/

.sidebar .select2-container--default .select2-search--inline .select2-search__field {
	color: initial;
}

.sidebar select {
	border: 1px solid;
}

/*========
 Footer 
 =========*/
.footer-section .widget_pages .page_item a, .footer-section .widget_meta a {
	color: var(--sp-white);
}

.footer-section .widget_nav_menu li a {
	overflow: none;
	color: var(--sp-white);
	padding: 10px 0;
}

.footer-section .widget_recent_comments .recentcomments, .footer-section .widget_recent_entries li {
	border-color: var(--sp-primary);
}

.footer-section .widget_rss li, .footer-section .widget_text {
	color: var(--sp-white);	
}
.footer-section .widget_text .wp-caption-text{
	color: initial;	
}

.footer-section .widget_search .search-submit {
	background-color: var(--sp-primary);
	padding: 4px 10px;
	border: none;
	border-radius: 4px;
	color: var(--sp-white);
}

/*Woocommmerce */
.footer-section .woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item, .footer-section .woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item a {
	color: var(--sp-primary);
}

/* product select */
.footer-section .select2-container--default .select2-search--inline .select2-search__field {
	color: initial;
}

/* Price Filter */
.footer-section .widget_price_filter .price_label {
	color: var(--sp-white);
}

/* Categories */
.footer-section .widget_product_categories .product-categories .cat-item a {
	color: var(--sp-primary);
}

/* Product Widgets */
.footer-section ul.product_list_widget li a, .footer-section ul.product_list_widget li {
	color: var(--sp-primary);
}

/* Widget title */
.footer-section .widget-contact .widget-title {
	display: none;
}