/* @media Responsive Start */

@media (min-width: 992px) {
	.header.header-two {
		overflow-x: clip;
	}
	.header.header-two .menubar{
        padding: 0px 40px;
    }
    .header.header-two .theme-menu{
        position: relative;
    }
    .header.header-two .menu-box{
        position: absolute;
        left: 0;
        bottom: -16px;
        background-color: var(--dark-2);
        z-index: 1;
    }
	.header.header-two .widget-contact .contact-area .icon-content a {
		color: var(--sp-secondary-dark);
	}
    .menu-box::before,
    .menu-box::after{
        content: "";
        position: absolute;
        height: 1px;
        background-size: 8px 100%;
        bottom: 7px;
        /* width: 100%; */
		width: var(--after-width, 240px);
        background-image: linear-gradient(to right, transparent 50%, wheat 50%);
    }
    .menu-box::before {
        left: 100%;
        transform: translateX(30px);
    }
    
    .menu-box::after {
        right: 100%;
        transform: translateX(-34px);
    }
    .hd-side-left, 
    .hd-side-right{
        width: 30px;
        height: 100%;
        position: absolute;
        top: 0;
        background: var(--dark-2);   
    }
    .hd-side-left{
        left: -30px;
        clip-path: polygon(103% -5%, 0% 100%, 102% 100%); 
    }
    .hd-side-right{
        right: -29px;
        clip-path: polygon(0% -3%, 0% 100%, 100% 100%);
    }
    .hd-side-left::after,
    .hd-side-right::after{
        content: "";
        position: absolute;
        top: 27px;
        bottom: 0;
        height: 1px;
        width: 63px;
        background-image: linear-gradient(to left, transparent 50%, #909090 50%);
        background-size: 8px 100%;
    }
    .hd-side-left::after{
        left: -11px;
        transform: rotate(-62deg);
    }
    .hd-side-right::after{
        left: -23px;
        transform: rotate(-117deg);
    }
    .hd-border-top,
    .hd-border-bottom{
        position: relative;
        .line {
            position: absolute;
            height: 1px;
            background-size: 8px 100%;
        }
    }
    .hd-border-top{
        .line {
            top: -7px;
			left: -7px;
			width: 102%;
            background-image: linear-gradient(to right, transparent 50%, wheat 50%);
        }
    }
    .hd-border-bottom{
        .line {
            top: 6px;
            left: 0;
            width: 100%;
            background-image: linear-gradient(to right, transparent 50%, #909090 50%);
        }
    }
    .hd-line-left,
    .hd-line-right {
        position: absolute;
        top: 20px;
        display: flex;
        gap: 4px;
    }
    .hd-line-left {
        left: -50px;
        transform: rotate(119deg);
    }
    .hd-line-right {
        right: -49px;
        transform: rotate(61deg);
    }
    .hd-line-left span,
    .hd-line-right span {
        height: 1px;
        width: 3px;
        background: wheat;
        display: inline-block;
    }

	
	.header.header-three{
		position: absolute;
		right: 0;
		left: 0;
		width: 100%;
		margin: 0 auto;
		background-color: transparent;
	}

	.header.header-three .header-above-info{
		padding: 0;
		position:unset;
		backdrop-filter: unset;
		background-color: transparent;
	}
	.header.header-three +.webique-content .slider-wrapper .main-slider .theme-content{
		padding-top: 130px;
	}
	.header.header-three +.webique-content .slider-wrapper .main-slider .theme-content-offer{
		margin-top: 200px;
	}

	.header.header-three .header-above-top{
		background: var(--sp-gradient1);
		padding: 8px 10px;
		border-radius: 25px 0px 0px 25px;
		display: flex;
		align-items: center;
		justify-content: left;
		margin-left: 10px;
		width: calc((100% - 600px) / 2 + 200px);
	}

	.header.header-three .widget-contact .contact-icon {
		width: 35px;
		height: 35px;
		font-size: 15px;
		color: var(--sp-primary);
	}
	.header.header-three .widget-contact .contact-icon:hover {
		color: var(--sp-primary);
		background: var(--sp-white);
	}
	.header.header-three .widget-contact .contact-area .icon-content{
		line-height: 0.8;
	}
	.header.header-three .widget-contact .contact-area .icon-content h4 {
		font-size: 14px;
		font-weight: 600;
		color: var(--sp-white);
	}

	.header.header-three .widget-contact .contact-area .icon-content a {
		font-size: small;
	}
	.header.header-three .header-marquee {
		background: transparent;
		padding: 14px 0px;
		width: calc((100% - 100px) / 2 + 260px);
	}

	.header.header-three .header-marquee ul li.item{
		font-size: 16px;
		font-weight: 600;
	}
	.header.header-three .header-marquee ul li div{
		width: 16px;
		height: 16px;
		border: 3px solid #fff;
	}

    .header.header-three .navbar-area.sticky-menu {
        padding: 1rem 0;
    }
    .header.header-three .sticky-nav.sticky-menu .center-home-icone a{
        width: 75px;
        /* font-size: larger; */
    }
    .header.header-three .menubar .menu-wrap>li>a {
        color: var(--sp-white);
    }
    .header.header-three .mobile-menu-right>ul, .menu-right>ul {
        padding-left:0;
    }
	.main-slider2 .side-img{
		width: 330px; 
		height: 330px; 
	}
	.portfolio-details-section .portfolio-item{
		height: 355px;
	}
}

@media (max-width: 991px) {
	.title-container .title .split-line {
        opacity: 1 !important;
        transform: unset !important;
    }
	.header.header-two .navbar-area {
		padding: 0.5rem 0;
	}
}

/************ For using Laptop ***************/

@media only screen and (min-width: 992px) and (max-width: 1320px) {

	.portfolio-content h3 {
		font-size: 20px;
	}

	.portfolio-content h1 {
		font-size: 25px;
	}

	.portfolio-content p {
		font-size: medium;
	}

	.theme-slider div.theme-content,
	.style-3 .theme-content .sub-title-box {
		margin-bottom: 0;
	}
	.style-3 .theme-content h1 {
		font-size: 55px;
		margin-bottom: 4px;
	}

	.style-3 .theme-content p {
		font-size: 18px;
		margin-bottom: 10px;
	}

	.style-3 .theme-content .sub-title-box h3 {
		font-size: 18px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1065px) {
	.header-above-info .widget-contact .contact-area .icon-content a {
		font-size: small;
	}
}

@media (max-width: 1250px) {
	.contact-area .av-btn.av-btn-bubble {
		padding: 4px 8px;
	}

	.features-section .features-item {
		margin-bottom: 0;
	}

	.features-item .features-content .features-title {
		line-height: 1.5;
	}

	.icon-circle {
		width: 75px;
		height: 75px;
		font-size: 30px;
	}

	.info-box h5 {
		font-size: 20px;
	}

	.info-box h4 {
		font-size: 25px;
	}

	.info-box a {
		font-size: 16px;
	}

	.cta-text {
		font-size: 20px;
	}

	.post-bg-box {
		width: 95%;
	}

	.main-slider.owl-theme .owl-nav {
		padding: 0 50px;
	}

	.main-slider .owl-nav [class*=owl-] {
		font-size: small;
		width: 40px;
		height: 40px;
	}
}

@media (min-width: 992px) and (max-width: 1124px) {
	.header.header-three .header-above-top{
		width: calc((100% - 600px) / 2 + 300px);
	}
	.header.header-three .header-marquee {
		width: calc((100% - 300px) / 2 + 260px);
	}
	.header-above-info .top-widget-right:not(:last-child)::before{
		left: -40px;
	}
	.header-above-info .top-widget-right:not(:last-child)::after {
		right: -40px;
	}
	.menubar .menu-wrap>li>a {
		padding: 0px 10px;
	}
	.widget-contact .contact-area .icon-content h4 {
		font-size: 20px;
	}

	.widget-contact .contact-area .icon-content a {
		font-size: 14px;
	}

	.pricing-box .pricing-list span {
		font-size: medium;
	}

	.widget-right ul {
		gap: 10px;
	}
	.header.header-two .menubar .menu-wrap>li>a {
        padding: 5px 5px;
    }
    .header.header-two .menubar ul.menu-wrap>li.dropdown>a {
        padding-right: 24px;
    }
	.header.header-three .menu-right>ul>li {
        margin-left: 10px;
    }
    .header.header-three .menubar ul.menu-wrap>li.dropdown>a {
        padding-right: 20px;
    }
    .header.header-three .menubar .menu-wrap>li.dropdown>a:before {
        font-size: 80%;
    }
    .header.header-three .navbar-area::after{
        width: calc((100% - 1100px) / 2 + 880px);
    }
    .header.header-three .center-home-icone a{
        width: 80px;
        left: calc((100% - 1100px) / 2 + 220px);
    }
    .header.header-three .logo {
        max-width: 110px;
        margin-top: 7px;
    }
	.main-slider2 .side-img{
		width: 250px; 
		height: 250px; 
	}
	.about-features-item .features-icon{
		width: 75px;
		height: 75px;
	}
	.about-features-item .features-icon i {
		left: 20px;
		bottom: 20px;
		font-size: 25px;
	}
	.portfolio-two .portfolio-item .portfolio-content {
		width: 90%;
	}
	.breadcrumb-heading {
		animation: slideLeftToRight 5s infinite ease-in-out;
	}
	@keyframes slideLeftToRight {
		0% {
			transform: translateX(-5vw);
		}
		50% {
			transform: translateX(5vw);
		}
		100% {
			transform: translateX(-5vw);
		}
	}
}

@media (max-width: 1124px) {
	.footer-live-chat .widget-contact .icon-content p {
		font-size: medium;
	}

	.footer-live-chat .widget-contact .contact-icon {
		width: 60px;
		height: 60px;
		font-size: 25px;
	}

	.download-box {
		padding: 6px 8px;
	}

	.download-box i {
		font-size: 30px;
	}

	.theme-content h1 {
		font-size: 55px;
	}

	.theme-content p,
	.av-btn.av-btn-bubble {
		font-size: 18px;
	}

	.theme-content .sub-title-box h3 {
		font-size: 18px;
	}
	
	.main-slider2 .theme-content-offer {
		margin-top: 20px;
		margin-right: 5px;
	}
}

/************* For using Tablet ***************/

@media only screen and (max-width: 991px) {
	.navbar-area {
		padding: 0.6rem 0;
	}

	.header-above-info {
		display: none;
	}

	.pricing-box {
		width: 100%;
	}

	.features-image {
		width: 100%;
		position: unset !important;
    }
	.features-image img{
		display: block;
	}

	.info-box {
		padding: 25px 0px;
	}

	.info-box h5,
	.info-box h4 {
		font-size: 18px;
	}

	.info-box a {
		font-size: 14px;
	}

	.icon-circle {
		width: 60px;
		height: 60px;
		font-size: 20px;
	}

	.info-box .rating {
		font-size: 20px;
	}

	.client-images img {
		width: 44px;
		height: 44px;
	}

	.widget-right ul {
		gap: 10px;
	}

	.heading-default {
		margin-bottom: 45px;
	}
	.wc-block-components-sidebar-layout {
		grid-template-columns: 100%;
		gap: 10px;
	}
	.av-tab-filter.style-1 {
		margin-bottom: 25px;
	}

	.av-tab-filter.style-1 .av-btn,
	.av-tab-filter.style-3 .av-btn {
		font-size: large;
	}

	.theme-content h1,
	.main-slider2 .theme-content h1 {
		font-size: 30px;
		font-weight: 400;
	}

	.theme-content h1 span {
		font-weight: 600;
	}

	.theme-content p,
	.av-btn.av-btn-bubble {
		font-size: 16px;
	}

	.award-badge h1 {
		font-size: 35px;
	}

	.award-badge p {
		font-size: 14px;
	}

	.award-badge .stars {
		font-size: 12px;
	}

	.theme-content-offer .award-badge {
		width: 130px;
		height: 130px;
	}

	.theme-slider div.theme-content {
		margin-bottom: 0;
		max-width: 530px;
	}

	.theme-content-offer {
		margin-top: 70px;
	}

	.header.header-three .nav-area::after{
        width: calc((100% - 720px) / 2 + 300px);
    }
    .header.header-three .navbar-area::after{
        width: calc((100% - 720px) / 2 + 470px);
    }
    .header.header-three .center-home-icone a{
        font-size: medium;
        width: 55px;
        left: calc((100% - 720px) / 2 + 250px);
    }
    .header.header-three  .navbar-area.sticky-menu {
        padding: 0.4rem 0;
    }
    .header.header-three .logo {
        max-width: 110px;
        margin-top: 4px;
    }

	.about-clinet {
		display: flex;
		justify-content: center;
	}
	.about-clinet .img-1 {
		margin-right: 90px;
	}
	.about-clinet .img-2 {
		left: 65%;
		transform: translateX(-50%);
	}
	.shapedotted {
		right: 150px;
	}
	.contactmap-section .contact-area .contact-info{
		display: none;
	}
	.contactmap-section .contact-area{
		justify-content: center;
		padding: 10px;
	}
	.contactmap-section .contact-area .contact-icon{
		margin-right: 0;
	}
	.breadcrumb-heading {
		animation: unset;
	}
	.av-column-6:nth-last-child(2) .service-list {
		border-bottom: 2px solid var(--sp-border-dark);
	}
	.main-slider2 .theme-content-offer {
        margin-top: 50px;
	}
}

/************* For using mobile ***************/

@media only screen and (max-width: 767px) {
	.av-py-default {
		padding: 50px 0;
	}
	.business-section .business-main-slider {
		height: 350px;
	}

	.business-thumbs-slider {
		height: calc(350px - 130px);
	}

	.business-item .icon {
		font-size: 40px;
	}

	.business-item .business-content .title {
		margin-top: 0;
	}

	.business-thumbs-slider>.swiper-scrollbar {
		width: calc(100% - 80px);
		height: 10px;
		top: 25px;
		left: 40px;
		right: 40px;
	}

	.swiper-scrollbar-drag {
		height: 100%;
		width: 20%;
	}

	.av-container-fluid,
	.av-container {
		padding: 0 25px;
	}

	.pricing-box .pricing-list span {
		font-size: medium;
	}

	.cta-box {
		border-radius: 0px;
	}

	.widget-right a {
		font-size: 30px;
		line-height: 0;
	}

	.heading-default {
		margin-bottom: 25px;
	}

	.av-tab-filter.style-1 .av-btn{
		font-size: small;
		padding: 3px 6px;
		font-weight: 500;
	}
	.av-tab-filter.style-3 .av-btn {
        font-size: small;
        padding: 0px 5px;
        font-weight: 400;
	}
	.marquee-section.style2 ul li.item {
		font-size: 20px;
	}
	.marquee-section.style2 {
		padding: 15px 0px;
	}
	.marquee-section ul li.item {
		font-size: 16px;
	}
	.service-item .icon {

		right: 10px;
		width: 50px;
		height: 50px;
		font-size: 20px;
	}

	.av-btn.av-btn-bubble {
		font-size: 15px;
	}

	.service-item .av-btn.av-btn-bubble i {
		font-size: 10px;
	}

	.avatar-get-started .avatar-group img {
		width: 50px;
	}

	.avatar-get-started .avatar-group {
		margin-left: 15px;
	}

	.theme-content .av-btn {
		font-size: medium;
	}

	.avatar-get-started .avatar-group .avatar.av-btn {
		padding: 6px 15px;
	}

	.theme-content .sub-title-box div {
		padding: 5px 10px;
	}

	.theme-content h1 {
		font-size: 24px;
		margin-bottom: 4px;
	}

	.theme-content p {
		font-size: 14px;
		margin-bottom: 14px;
	}

	.theme-slider .theme-content .sub-title-box {
		padding: 5px;
		margin-bottom: 5px;
	}

	.theme-slider div.theme-content {
		margin-bottom: 0;
		max-width: 445px;
	}

	.theme-content-offer {
		margin-top: 30px;
	}

	.owl-theme:not(.main-slider) .owl-nav {
		margin: 10px auto 0;
	}

	.rating-banner {
		width: 88%;
	}

	.post-bg-box {
		top: -40px;
	}

	.breadcrumb-content {
		display: block;
	}
	.breadcrumb-icone a{
		margin: auto;
		margin-bottom: 10px;
	}
	.breadcrumb-heading h2{
		font-size: 20px;
	}
	.breadcrumb-heading,
	.breadcrumb-list {
		margin: auto;
		max-width: 350px;
		margin-bottom: 10px;
	}
	.breadcrumb-heading {
		min-width: 250px;
	}
	.breadcrumb-list::after {
		left: 50%;
		width: 2px;
		height: 50%;
		bottom: 25%;
	}
	.portfolio-two .portfolio-item .portfolio-content {
		width: 90%;
	}
	.contactmap-section.av-py-default {
        padding: 0;
    }
	.title-container h1.title {
		font-size: 25px;
	}
	.owl-thumbs-main .item {
		width: 55px;
		height: 55px;
	}
	.about-clinet .img-2{
		left: 70%;
		max-height: 250px;
	}
}

@media only screen and (max-width: 624px) {
	.theme-content-offer {
		display: none;
	}

	.rating-banner {
		width: 85%;
	}
	.main-slider2 .theme-slider {
		padding-top: 50px;
		padding-bottom: 20px;
	}
	.thumb-box {
		margin-bottom: 20px;
	 }
	.shapedotted {
        right: 40px;
    }
	.card404 h1 {
		font-size: 125px;
		line-height: 100px;
	}
}

@media only screen and (max-width: 600px) {
	.features-item .features-icon {
		width: 60px;
		height: 60px;
		font-size: 25px;
	}

	.portfolio-content h3 {
		font-size: 20px;
	}

	.portfolio-content h1 {
		font-size: 25px;
	}

	.portfolio-content p {
		font-size: medium;
	}

	.heading-default p {
		padding: 0px;
	}
	.portfolio-inner {
		bottom: 10px;
	}
	.portfolio-item .portfolio-content {
        padding: 2% 2%;
    }
}

@media (max-width: 575px) {
	.custom-logo-link, a:has(.site-title) {
		display: inline-flex;
		justify-content: center;
	}
	.menu-right>ul>li {
		margin-left: 10px;
	}

	.title-container .arrow-left,
	.title-container .arrow-right {
		height: 1px;
	}

	.title-container .arrow-left::after,
	.title-container .arrow-left::before,
	.title-container .arrow-right::after,
	.title-container .arrow-right::before {
		height: 1px;
	}

	.av-btn.av-btn-bubble {
		font-weight: 500;
		padding: 2px 16px;
	}

	.pricing-box .pricing-list span {
		font-size: small;
	}

	.pricing-item {
		display: block;
	}

	.pricing-rate {
		text-align: left;
	}

	.widget-right ul {
		gap: 5px;
	}

	.widget-right a {
		font-size: 20px;
	}

	.widget-contact .contact-area .icon-content a {
		font-size: medium;
	}

	.widget-contact .contact-area {
		margin-bottom: 15px;
	}

	.download-section {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.av-tab-filter.style-1 .av-btn {
		font-size: small;
		padding: 0px 6px;
		border-radius: 2px;
		margin-bottom: 4px;
	}

	.contact-box {
		font-size: 14px;
	}

	.avatar-get-started .avatar-group img {
		width: 40px;
	}

	.avatar-get-started .avatar-group .avatar.av-btn {
		padding: 6px 12px;
		font-size: small;
	}

	.theme-content p {
		font-size: 12px;
		margin-bottom: 2px;
	}

	.theme-content .sub-title-box h3 {
		font-size: 12px;
	}

	.theme-content h1 {
		font-size: 20px;
		margin-bottom: 2px;
	}

	.theme-slider .theme-content .sub-title-box {
		padding: 4px;
		margin-bottom: 0px;
	}

	.av-btn.av-btn-bubble {
		font-size: small;
		padding: 2px 6px;
	}

	.av-accordion.style-1 .accordion-item .accordion-body .read-btn .av-btn {
		padding: 5px 12px;
	}

	.custom-pricing-plan {
		padding: 20px 20px 10px;
	}

	.rating-banner {
		padding: 6px 15px;
		font-size: 13px;
	}

	.post-bg-box {
		top: -65px;
	}

	.header.header-three  .navbar-area{
        background: var(--sp-white);
    }
    .header.header-three .nav-area::after,
    .header.header-three .navbar-area::after,
    .header.header-three .center-home-icone a,
    .header.header-three .about-toggle-list .contact-area{
        display: none;
    }
	.header.header-three .cart-wrapper .cart-icon-wrap span{
		color: var(--sp-white); 
		border-color: var(--sp-secondary-dark);
		background: var(--sp-secondary-dark);
	}
	.av-accordion.style-2 .accordion-item .accordion-button {
		font-size: small;
	}
	.about-clinet .img-1 {
		margin-right: 0;
	}
	.about-clinet-summery h2 {
		font-size: 24px;
	}
	.about-clinet-summery p{
		font-size: small;
		font-weight: 600;
	}
	.av-tab-filter.style-2 .av-btn{
		padding: 2px 8px;
		font-size: 15px;
	}
	.portfolio-content .av-btn {
		width: 30px;
		height: 30px;
	}
	.read-btn {
		right: 15px;
	}
	.portfolio-item .portfolio-content {
		width: 90%;
	}
	.av-tab-filter.style-1, .av-tab-filter.style-3{
		display: block;
	}
	.woocommerce ul.products.columns-3 li.product, .woocommerce-page ul.products.columns-3 li.product {
		width: 100%;
	}
	.shopping-cart {
		width: 270px;
	}
}

@media (max-width: 420px) {
	h1 {
		font-size: 35px;
	}

	h4 {
		font-size: 18px;
	}

	.pricing-heading span {
		width: 25px;
		height: 25px;
		font-size: small;
	}

	.ribbon {
		padding: 4px;
		font-size: 12px;
	}
	.ribbon::before, .ribbon::after {
		border: 10px solid var(--sp-white);
	}
	.title-container .arrow-left,
	.title-container .arrow-right {
		display: none;
	}

	.portfolio-content h3 {
		font-size: large;
	}

	.portfolio-content h1 {
		font-size: large;
	}

	.portfolio-content p {
		font-size: small;
	}

	.portfolio-item {
		bottom: 10px;
	}

	.pricing-contact {
		grid-template-columns: none;
	}

	.rating-banner {
		width: 88%;
	}
	.title-container h1.title {
		font-size: 22px;
	}
	.portfolio-details {
		padding: 0px 18px;
	}
	.portfolio-details td {
		padding: 10px 0;
	}
	.pagination .pagination__button {
		width: 35px;
        height: 35px;
	}
	.pagination .pagination__list li button{
		line-height: 1;
		font-size: 14px;
		width: 28px;
        height: 28px;
	}
	.woocommerce nav.woocommerce-pagination ul{
		padding: 4px;
	}
	.woocommerce nav.woocommerce-pagination ul li a.prev, .woocommerce nav.woocommerce-pagination ul li a.next {
		line-height: 1.7;
		font-size: 15px;
	    width: 38px;
    	height: 38px;
	}
	.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span{
		font-size: 14px;
		line-height: 1.5;
		width: 30px;
		height: 30px;
	}
	.woocommerce nav.woocommerce-pagination ul li a.prev {
		left: -45px;
	}
	.woocommerce nav.woocommerce-pagination ul li a.next {
		right: -45px;
	}
	.contactmap-section .contact-area .contact-icon {
		width: 40px;
		height: 40px;
	}
	.flag-images img {
		width: 40px;
	}
	.shopping-cart {
		left: 50%;
		transform: translateX(-60%) !important;
	}
}

@media only screen and (max-width: 358px) {

	.cart-wrapper .cart-icon-wrap,
	.header .header-search-toggle {
		font-size: 20px;
	}

	.cart-wrapper .cart-icon-wrap span {
		top: 8px;
		width: 20px;
		height: 20px;
		font-size: 10px;
	}
	.av-accordion.style-2 .accordion-item .accordion-button i {
		display: none;
	}
	.av-accordion.style-2 .accordion-item .accordion-button {
		white-space: normal;
		line-height: 1.2;
	}
}

/* @media Responsive End */