/*===== Widget Commmon =====*/

.widget-left,
.widget-right,
.widget-center {
    margin: 0;
    height: 100%;
    min-height: 60px;
    display: inline-flex;
    align-items: center;
}

.widget ul,
.widget_tag_cloud>* {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
}

.widget_social_widget ul {
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget_social_widget li {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    overflow: visible;
    list-style: none;
    margin-right: 4px;
    margin-bottom: 5px;
    overflow: visible;
    list-style: none;
}
.widget_social_widget li:last-child {
    margin-right: 0;
}
.share-toolkit .toolkit-hover,
.widget_social_widget li a,
.widget-contact .contact-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: var(--sp-primary);
    text-decoration: none;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
}
.widget_social_widget li a:hover, .widget_social_widget li a:focus,
.widget-contact .contact-icon:hover {
    color: var(--sp-white);
}

.widget-contact .contact-icon {
    float: left;
}

.widget-contact-btn .contact-area .av-btn{
    font-size: 20px;
    border-radius: 4px;
    padding: 10px 30px;
    font-weight: 700;
}

.widget-contact .contact-area{
    display: flex;
    align-items: center;
    gap: 8px;
    text-align: left;
}
.widget-contact .contact-area .icon-content h4{
    font-size: 22px;
    font-weight: 700;
}
.widget-contact .contact-area .icon-content a{    
    text-decoration: none;
    font-size: larger;
    color: var(--sp-white);
}
.header-above-info .line::after {
    content: ""; 
    display: block;
    width: 1px;
    height: 50px;
    background: #ffffff54;
    margin: auto;
}


/* Widget Blog Sidebar Common */

.sidebar .widget {
    padding-top: 10px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    border-radius: var(--sp-radius);
    background: var(--sp-gradient2);
}

.sidebar .widget::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../images/shape/dotted-bg1.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.sidebar .widget:hover .widget-title,
.sidebar .widget_block:hover .wp-block-heading {
    -webkit-text-fill-color: unset;
}
.sidebar .widget-title {
    position: relative;
    z-index: 1;
    padding: 12px;
    color: var(--sp-white);
    font-size: 18px;
    font-weight: 700;
    margin: 20px 20px 30px 90px;
    background: var(--sp-gradient1);
    border-radius: 100px;
}
.sidebar .widget-title::before {
    content: '';
	font-family: 'FontAwesome';
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background: var(--sp-gradient1);
}
.sidebar .widget .widget-title::after{
    content: '';
    width: calc(100% + 74px);
    height: 2px;
    z-index: -1;
}

.sidebar .widget-title::before, .sidebar .widget .widget-title::after {
	position: absolute;
    left: -74px;
    top: 50%;
    transform: translateY(-50%);
}
.sidebar .widget_archive .widget-title::before {
	content: "\f07c";
}

.sidebar .widget_calendar .widget-title::before {
	content: "\f073";
}

.sidebar .widget_categories .widget-title::before {
	content: "\f0c9";
}

.sidebar .widget_meta .widget-title::before {
	content: "\4d";
}

.sidebar .widget_nav_menu .widget-title::before {
	content: "\f15b";
}

.sidebar .widget_recent_comments .widget-title::before {
	content: "\f086";
}

.sidebar .widget_recent_entries .widget-title::before {
	content: "\f27a";
}

.sidebar .widget_pages .widget-title::before {
	content: "\f0ca";
}

.sidebar .widget_rss .widget-title::before {
	content: "\f143";
}

.sidebar .widget_text .widget-title::before {
	content: "\f031";
}

.sidebar .widget_tag_cloud .widget-title::before, .sidebar .widget_product_tag_cloud .widget-title::before {
	content: "\f0c2";
}

.sidebar .widget_search .widget-title::before, .sidebar .widget_product_search .widget-title::before {
	content: "\f002";
}

.sidebar .widget_shopping_cart .widget-title::before {
	content: "\f07a";
}

.sidebar .widget_products .widget-title::before, .sidebar .widget_top_rated_products .widget-title::before  {
	content: "\f288";
}

.sidebar .widget_product_categories .widget-title::before {
	content: "\f13a";
}

/*** Search ***/
.sidebar .widget-search .search-form,
.sidebar .widget_search .search-form {
    padding: 0 20px 20px;
}
.sidebar .widget-search .search-form input {
    padding: 12px;
    position: relative;
    z-index: 1;
    display: inline-block;
    background: var(--sp-white);
    width: 80%;
}

.sidebar .widget-search .search-form button {
    background: var(--sp-gradient1);
    display: inline-block;
    color: var(--sp-white);
    border-radius: 0px;
    margin-left: -5px;
    width: 20%;
}
.sidebar .widget_search .search-form input[type="submit"]{
    padding: 5px 10px;
}

/*** Category ***/
.sidebar .widget_categories ul,
.sidebar .widget_recent_entries ul,
.sidebar .widget_media_gallery .gallery,
.sidebar .widget-tag-cloud .tagcloud,
.sidebar .widget_tag_cloud .tagcloud,
.sidebar .widget_social_widget ul,
.sidebar .widget > ul,
.sidebar .widget > div > ul,
.sidebar .textwidget,
.sidebar .widget > form {
    padding: 0 20px 20px;
}

.sidebar .widget_categories ul li.cat-item {
    padding: 10px 20px;
    border-radius: var(--sp-radius);
    margin-bottom: 10px;
    display: flex;
    background: transparent;
    border: 1px solid rgba(180 180 180 /30%);
    color: var(--sp-white);
    position: relative;
    z-index: 1;
    transition: background 0.5s, border-color 0.5s, color 0.5s;
    overflow: hidden;
}
.sidebar .widget_categories ul li.cat-item:hover {
    background: var(--sp-gradient1);
}
.sidebar .widget_categories ul li.cat-item a {
    padding-bottom: 0px;
    flex: 1;
    text-decoration: none;
    color: var(--sp-white);
    font-size: 16px;
    font-weight: 500;
    transition: 1s;
    position: relative;
}

/*** Recent Post ***/
.sidebar .widget_recent_entries ul .side-item:not(:last-child) {
    border-bottom: 1px solid rgba(180 180 180 / 20%);
}
.sidebar .widget_recent_entries ul .side-item:last-child{
    margin-bottom: 0;
}

.sidebar .widget_recent_entries ul .side-item {
    display: flex;
    border: 0;
    align-items: center;
    margin-bottom: 5px;
    gap: 10px;
    padding-bottom: 10px;
}
.sidebar .widget_recent_entries ul .side-item .side-image a img {
    max-width: 85px;
    border: 1px solid var(--sp-border-dark);
}
.sidebar .widget_recent_entries ul .side-item .side-item-text .post-date {
    font-size: 15px;
    position: relative;
    top: 0;
    left: 0;
    padding: 4px 8px 4px 30px;
}

.sidebar .widget_recent_entries ul .side-item .side-item-text .post-date:after{
    content: "\f073";
    font-family: 'FontAwesome';
    position: absolute;
    left: 5px;
    border-right: 1px solid;
    padding-right: 6px;
}
.sidebar .widget_recent_entries ul .side-item .side-item-text div {
    margin-top: 6px;
}
.sidebar .widget_recent_entries ul .side-item .side-item-text a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: var(--sp-white);
}

/*** widget media gallery ***/
.sidebar .widget_media_gallery .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.sidebar .widget_media_gallery .gallery .gallery-item .gallery-icon a img {
    width: 90px;
    border-radius: 50%;
}
.sidebar .widget-tag-cloud .tagcloud a {
    padding: 5px 10px;
    background: var(--sp-white);
    color: var(--sp-black);
    margin: 0px 0px 8px 5px;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    transition: 1s;
}

/*** widget Calendar ***/
.sidebar .widget.widget_calendar .calendar_wrap {
    position: relative;
}
.sidebar .widget.widget_calendar table {
    margin-bottom: 0;
}
.sidebar table.wp-calendar-table {
    background: transparent;
}
.wp-block-calendar table {
    width: 100%;
    border-collapse: collapse;
}
.sidebar .widget.widget_calendar table caption {
    position: unset;
    color: var(--sp-white);
    background: #e9e9e92b !important;
}
.sidebar .wp-block-calendar .wp-calendar-nav .wp-calendar-nav-prev a,
.sidebar .widget_calendar .wp-calendar-nav .wp-calendar-nav-prev a {
    color: var(--sp-white) !important;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
/* .wp-calendar-table thead tr th */
.sidebar .widget_calendar .wp-block-calendar table th,
.sidebar .widget_calendar table.wp-calendar-table thead tr th {
    background: transparent;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 10px;
    background: var(--sp-gradient1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.wp-block-calendar tbody td, .wp-block-calendar th {
    padding: .25em;
    border: 1px solid #ddd;
}
.wp-calendar-table tbody tr td {
    padding: 6px;
    border: none;
    font-weight: 600;
}
.wp-calendar-table thead tr th {
    color: var(--sp-primary);
    background-color: transparent;
    border: none;
}
table.wp-calendar-table {
    width: 100%;
    text-align: center;
    border: none;
}
.sidebar .widget_block.widget_calendar table #today {
    background: var(--sp-gradient1);
    color: var(--sp-white);
    border-radius: 50px;
}

.sidebar .widget_block.widget_calendar .wp-block-calendar{
    padding-bottom: 10px;
}

/*** widget Calendar ***/
.sidebar .widget_social_widget li a {
    width: 40px;
    height: 40px;
    color: var(--sp-primary);
    border-radius: 50%;
    background-color: var(--sp-white);
}
.sidebar .widget_social_widget li a:hover {
    color: var(--sp-white);
    background-color: var(--sp-primary);
}



/****************** Woocommerce widget **********************/

.woocommerce-mini-cart__empty-message{
   margin: 0;
}
.sidebar .widget.woocommerce .widget-title {
    padding: 20px 12px;
}
.sidebar form.woocommerce-product-search,
.sidebar .woocommerce.widget_product_categories .product-categories,
.sidebar .woocommerce.widget_top_rated_products .product_list_widget,
.sidebar .woocommerce.widget_product_tag_cloud .tagcloud,
.sidebar .woocommerce.widget_products .product_list_widget,
.sidebar .woocommerce.widget_shopping_cart .widget_shopping_cart_content {
    padding: 0 12px 15px;
}

.sidebar .widget_product_search .search-field {
    margin-right: 0;
}
.sidebar form.woocommerce-product-search button[type='submit'] {
    background: var(--sp-gradient1);
    display: inline-block;
    color: var(--sp-white);
    border-radius: 0px;
    margin-left: -5px;
    width: 20%;
}

/* Categories */
.widget.woocommerce.widget_product_categories .product-categories .cat-item a,
.widget.woocommerce.widget_product_categories .product-categories .cat-item span {
	color: var(--sp-white);
}


.sidebar .product_list_widget li {
    margin-top: 0;
    padding: 4px 4px 4px 6px;
    margin-bottom: 10px;
    border: 1px solid rgba(180 180 180 /30%);
    position: relative;
}
.sidebar .product_list_widget li:last-child {
    margin-bottom: 0;
}
.sidebar .product_list_widget li a {
    font-weight: 500;
    display: block;
    color: var(--sp-white);
}
.sidebar .product_list_widget li a>img {
    width: 45px;
    margin-top: 0;
    margin-right: 0;
    float: right;
    margin-left: 4px;
    height: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.sidebar .product_list_widget li .woocommerce-Price-amount.amount {
    display: inline-block;
    padding: 0;
    border-radius: 0;
    margin-left: 0;
    font-size: 14px;
    color: var(--sp-white);
}


