/*********** Account Pages *************/
.woocommerce-MyAccount-navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.woocommerce-MyAccount-navigation ul li a {
    display: block;
    color: var(--sp-white);
    margin-bottom: 8px;
    font-weight: 600;
    padding: 12px 15px;
    border-radius: var(--sp-radius);
    background: var(--sp-gradient2);
    transition: var(--sp-transition);
}

.woocommerce-MyAccount-navigation ul li a:hover,
.woocommerce-MyAccount-navigation ul li.is-active a {
    color: var(--sp-white);
    background: var(--sp-gradient1);
}

.woocommerce-account .woocommerce-MyAccount-content {
    padding: 15px;
    height: fit-content;
    min-height: 200px;
    border-radius: var(--sp-radius);
    background: var(--dark-2);
    border: 1px solid var(--sp-border-dark);
}

.woocommerce-account .woocommerce-MyAccount-content a {
    background: var(--sp-gradient1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid;
}
.woocommerce-account .woocommerce-MyAccount-content a.woocommerce-login{
    color: var(--sp-white);
    padding: 5px 10px;
    font-weight: 600;
    border-radius: var(--sp-radius);
    background: var(--sp-gradient1);
    -webkit-text-fill-color: unset;
}

.woocommerce-account .woocommerce-MyAccount-content table {
    border-top: 2px solid var(--sp-primary2);
    border-radius: var(--sp-radius);
}

.woocommerce-account .woocommerce-MyAccount-content table th {
    padding: 10px 15px;
    background: var(--sp-gradient1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.woocommerce-account .woocommerce-MyAccount-content table td {
    padding: 8px 15px;
    color: var(--sp-black);
}

.woocommerce-account .woocommerce-MyAccount-content .woocommerce-orders-table__cell-order-actions a {
    font-weight: 600;
    border-bottom: none;
}

.woocommerce-info {
	border-top-color: var(--sp-primary);
	
}
.woocommerce-info a.wc-forward {
	
    padding: 8px 10px;
    color: var(--sp-white);
    border-radius: 3px;
    background: var(--sp-gradient2);
    -webkit-text-fill-color: unset;
	float: none;
}
.woocommerce-info a.wc-forward:hover, .woocommerce-info a.wc-forward:focus {
	background: var(--sp-gradient1);
	color: var(--sp-white);
}

.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {
    font-family: 'FontAwesome';
    content: "\f085";
    display: inline-block;
    position: absolute;
    color: var(--sp-primary2);
    left: 1em;
}

.woocommerce-account .addresses .title .edit {
	float: none;
}

.woocommerce-account .addresses .woocommerce-Address-title {
    margin-top: 15px;
    margin-bottom: 10px;
}

.woocommerce-account .addresses .woocommerce-Address-title h2 {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 18px;
}

.woocommerce-account .addresses .woocommerce-Address-title .edit {
    font-weight: 500;
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
    width: 49%;
    overflow: visible;
}

.woocommerce form .form-row-first,
.woocommerce-page form .form-row-first {
    float: left;
}

.woocommerce form .form-row-last,
.woocommerce-page form .form-row-last {
    float: right;
}

.woocommerce form .form-row {
    padding: 3px;
    margin: 0 0 6px;
}

.woocommerce form .form-row .required {
    color: var(--sp-secondary2);
}

.woocommerce .woocommerce-MyAccount-content form fieldset {
    min-width: 0;
    padding: 0;
    border: 0;
    margin: 25px 0;
}

.woocommerce .woocommerce-MyAccount-content form fieldset>legend {
    color: var(--sp-primary);
    font-weight: 600;
    font-size: 18px;
}

.woocommerce .woocommerce-MyAccount-content button.button {
    font-weight: 600;
    font-size: large;
    /* padding: 5px 15px; */
    border: none;
    border-radius: var(--sp-radius);
    color: var(--sp-white);
    background: var(--sp-secondary);
}

.woocommerce .woocommerce-MyAccount-content button.button:hover,
.woocommerce .woocommerce-MyAccount-content button.button:focus {
    background: var(--sp-primary);
}

.form-control:focus {
    box-shadow: 0 0 3px 0px var(--sp-primary2);
}

.woocommerce form .show-password-input, .woocommerce-page form .show-password-input {
	background: transparent;
}

form input:focus,  
form input:focus,  
form textarea:focus-within,  
form textarea:focus-within {
    outline: 1px solid;
    outline-color: var(--sp-primary);
}

.woocommerce em, .woocommerce cite, .woocommerce q {
    font-style: italic;
    font-weight: 500;
    font-size: small;
}


/*===== 40. Cart Section =====*/

table, .wp-block-woocommerce-cart-order-summary-block {
	border: 1px solid #e9e9e9 !important;
}
.wp-block-woocommerce-cart-order-summary-block .wp-block-woocommerce-cart-order-summary-heading-block {
	padding: 8px 16px !important;
}

#av-primary-content.av-column-8 .wc-block-components-sidebar, #av-primary-content.av-column-8 .wc-block-components-sidebar-layout .wc-block-components-main, .av-column-12 .wc-block-components-sidebar, .av-column-12 .wc-block-components-sidebar-layout .wc-block-components-main {
	width: 100% !important;
}
#av-primary-content.av-column-8 .wc-block-components-sidebar, #av-primary-content.av-column-8 .wc-block-components-sidebar-layout .wc-block-components-main {
	padding: 0 !important;
}
@media (max-width: 991px) {
	.av-column-12 .wc-block-components-sidebar, .av-column-12 .wc-block-components-sidebar-layout .wc-block-components-main {
		padding: 0 !important;
	}
}
@media (min-width: 992px) {
	.av-column-12 .wc-block-components-sidebar {
		width: 35% !important;
	}

	.av-column-12 .wc-block-components-sidebar-layout .wc-block-components-main {
		width: 65% !important;
		padding: 0 !important;
	}
}
.wp-block-woocommerce-filled-cart-block .wc-block-cart-items td {
	border-top : none !important;
}

#av-primary-content.av-column-8 .wc-block-cart table.wc-block-cart-items, #av-primary-content.av-column-8 .wc-block-cart table.wc-block-cart-items td, .wc-block-cart table.wc-block-cart-items th {
	margin-bottom: 40px;
}

table.wc-block-cart-items .wc-block-cart-items__header .wc-block-cart-items__header-product {
	visibility: visible !important;
}

table.wc-block-cart-items .wc-block-cart-items__header span {
	 color: transparent;
    -webkit-background-clip: text ! important;
    background: var(--sp-gradient1);
}
.is-large.wc-block-cart .wc-block-cart-items th:first-child{
	padding-left: 16px;
}

.wc-block-components-button:not(.is-link) {
    display: block;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--sp-white);
    border-radius: var(--sp-radius);
    background: var(--sp-gradient1);
}

.wc-block-components-button:not(.is-link):hover {
    background: var(--sp-gradient2);
}


/*===== // =====*/


/*=====  Checkout Section =====*/

.wc-block-components-form .wc-block-components-checkout-step {
    background: none;
    border: none;
    margin: 0 0 20px;
    padding: 0;
    position: relative;
}

.wc-block-components-checkout-step__heading {
    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
    margin: 0 0 5px;
    position: relative;
}

.wc-blocks-components-select #billing-country.wc-blocks-components-select__select, [id*="billing-address_"] {
	width: calc(100% - 12px) !important;
}

.wc-block-components-address-address-wrapper .wc-block-components-address-form__first_name {
	margin-top: 15px !important;
}
#billing-phone {
	width: calc(100% + 16px);
}
.wc-block-components-title.wc-block-components-title {
    border: 0;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 1.25em;
}

.wc-block-components-checkout-step__description {
    font-size: .875em;
    line-height: 1.2;
    margin: 0 0 16px;
}

.wp-block-woocommerce-checkout .wc-block-checkout__guest-checkout-notice {
    font-size: .75em;
    margin: 4px 0 0;
}

.wc-block-components-form .wc-block-components-text-input,
.wc-block-components-text-input {
    margin-top: 10px;
    position: relative;
    white-space: nowrap;
}

.wc-blocks-components-select__select {
    padding: 10px 12px;
    border: 1px solid var(--sp-border-dark);
}
.wc-blocks-components-select__select:focus {
    outline: 1px solid;
    outline-color: var(--sp-primary);
}
.wc-block-components-address-form__address_2-toggle {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    margin-top: 16px;
    text-align: left;
    width: 100%;
    display: block;
}

.wc-block-components-checkbox label {
    cursor: pointer;
    font-size: .875em;
}

.wc-block-components-checkbox .wc-block-components-checkbox__input[type=checkbox] {
    outline: 1px solid var(--sp-primary2);
    outline-offset: 2px;
    border: 1px solid var(--sp-primary2);
    width: 16px !important;
    height: 16px;
    border-radius: 3px;
}

.wc-block-components-checkbox .wc-block-components-checkbox__input[type=checkbox]:checked:before {
    line-height: 1.2;
}

.wc-block-checkout__add-note .wc-block-components-textarea {
    margin-top: 15px;
}

.wc-block-checkout__terms.wc-block-checkout__terms--with-separator {
    margin-bottom: 15px;
    font-size: .875em;
}

.wc-block-checkout__actions_row .wc-block-components-checkout-place-order-button--full-width {
    width: 100%;
    border: none;
    font-weight: 700;
    color: var(--sp-white);
    background: var(--sp-gradient1);
}

.wp-block-woocommerce-checkout-actions-block .wc-block-components-checkout-return-to-cart-button {
	box-shadow: none;
    color: inherit;
    position: relative;
    text-decoration: none;
    background: var(--sp-gradient1);
    margin-right: 15px;
    padding: 17px 19px;
    border-radius: 3px;
    color: var(--sp-white) !important;
    width: 190px;
    font-weight: 700;
    padding-left: 40px !important;
}

.wp-block-woocommerce-checkout-actions-block .wc-block-components-checkout-return-to-cart-button:hover, .wp-block-woocommerce-checkout-actions-block .wc-block-components-checkout-return-to-cart-button:focus {
	background: var(--sp-gradient2) !important;
}

.wp-block-woocommerce-checkout-actions-block .wc-block-components-button:not(.is-link) {
	margin-bottom: 0 !important;
}

.wp-block-woocommerce-checkout-actions-block .wc-block-components-checkout-return-to-cart-button svg {
	left: 10px !important;
}

.wc-block-components-notice-banner.is-error {
    display: flex;
    font-size: .875em;
    font-weight: 400;
    gap: 12px;
    padding: 16px;
    border: 1px solid;
    line-height: 1.5;
    border-radius: 4px;
    background-color: #fff0f0;
    border-color: #cc1818;
}

.wc-block-components-notice-banner>svg {
    fill: #fff;
    background-color: #cc1818;
    transform: rotate(180deg);
    border-radius: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    padding: 2px;
}

.wc-block-checkout__shipping-option .wc-block-components-radio-control__option {
    margin: 0;
    width: 100%;
    position: relative;
    padding: .875em .875em .875em 3.5em;
}

.wc-block-components-checkout-step__container .wc-block-components-radio-control .wc-block-components-radio-control__input {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-40%);
    border-radius: 50%;
    cursor: pointer;
    min-height: 24px;
    min-width: 24px;
    height: 1.5em;
    width: 1.5em;
    border: 1px solid var(--sp-primary2);
    background: transparent;
}

.wc-block-components-checkout-step__container .wc-block-components-radio-control .wc-block-components-radio-control__input:checked:before {
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    height: .55em;
    width: .55em;
    background: var(--sp-primary2);
}

.wc-block-components-radio-control__label-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.is-large .wp-block-woocommerce-checkout-order-summary-block {
    border-radius: var(--sp-radius);
    border: 1px solid var(--sp-border-dark);
}

.wc-block-components-totals-wrapper {
    border-bottom: 1px solid var(--sp-border-dark);
    padding: 15px 0;
}

.wp-block-woocommerce-checkout-order-summary-coupon-form-block.wc-block-components-totals-wrapper {
    border-top: none;
}

.wp-block-woocommerce-checkout .is-large .wc-block-components-sidebar .wc-block-components-panel,
.wp-block-woocommerce-checkout .is-large .wc-block-components-sidebar .wc-block-components-totals-coupon,
.wp-block-woocommerce-checkout .is-large .wc-block-components-sidebar .wc-block-components-totals-item {
    padding-left: 15px;
    padding-right: 15px;
}

.wc-block-components-panel__button {
    position: relative;
}

.wc-block-components-panel__button[aria-expanded=true] {
    text-align: left;
    width: 100%;
    word-break: break-word;
    margin-bottom: 16px;
}

.wc-block-components-panel__button>.wc-block-components-panel__button-icon {
    fill: currentColor;
    position: absolute;
    right: 0;
    top: 50%;
    width: auto;
    transform: translateY(-50%) rotate(0deg);
    transition: transform 0.5s ease;
}

.wc-block-components-panel__button[aria-expanded=false]>.wc-block-components-panel__button-icon {
    transform: translateY(-50%) rotate(180deg);
}

.wc-block-components-order-summary .wc-block-components-order-summary__content {
    display: table;
    width: 100%;
}

.wc-block-components-order-summary .wc-block-components-order-summary-item {
    display: flex;
    font-size: .875em;
    padding-bottom: 1px;
    padding-top: 16px;
    width: 100%;
    align-items: center;
    gap: 10px;
    padding: 15px 0;
    border-top: 1px solid var(--sp-border-dark);
}

.wc-block-components-order-summary .wc-block-components-order-summary-item:first-child {
    padding-top: 0;
    border: none;
}

.wc-block-components-order-summary .wc-block-components-order-summary-item__image {
    position: relative;
    width: 75px !important;
    height: 75px;
    flex-shrink: 0;
    background: var(--dark-2);
    border: 1px solid var(--sp-border-dark);
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0 !important;
}
.wc-block-components-order-summary .wc-block-components-order-summary-item__image img {
    border-radius: 10000%;
}

.wc-block-components-order-summary .wc-block-components-order-summary-item__quantity {
    align-items: center;
    background: #fff;
    border: 2px solid hsla(0, 0%, 7%, .11);
    border-radius: 1em;
    box-shadow: 0 0 0 2px #fff;
    color: #000;
    display: flex;
    justify-content: center;
    line-height: 1;
    min-height: 20px;
    min-width: 20px;
    padding: 0 .4em;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    white-space: nowrap;
    z-index: 1;
}

.wc-block-components-order-summary .wc-block-components-order-summary-item__image>img {
    object-fit: contain;
    width: 100%;
    aspect-ratio: 1;
}

.wc-block-checkout__sidebar .wc-block-components-product-name {
    color: inherit;
    display: block;
    font-weight: 600;
}

.wc-block-components-order-summary .wc-block-components-order-summary-item .price {
    font-size: 16px;
}

.wc-block-components-order-summary .wc-block-components-order-summary-item .price span:nth-child(2) {
    font-size: 12px;
    text-decoration: line-through;
    color: var(--sp-gray);
}

.wc-block-components-order-summary .wc-block-components-order-summary-item__total-price {
    font-weight: 700;
    margin-left: auto;
    text-align: right;
}

.wc-block-components-totals-coupon__form {
    display: grid;
    grid-template-columns: 72% 1fr;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 0;
    width: 100%;
}

.wc-block-components-totals-coupon__form .wc-block-components-text-input {
    margin: 0;
}

.wc-block-components-totals-coupon__form .wc-block-components-button {
    border: none;
    margin: 0;
}

.wc-block-checkout__payment-method .wc-block-components-checkout-step__content {
    padding-top: 8px;
}

.wc-block-components-checkout-step__content>:last-child {
    margin-bottom: 0;
}

.wc-block-components-radio-control--highlight-checked,
.wc-block-components-radio-control--highlight-checked div.wc-block-components-radio-control-accordion-option {
    position: relative;
    transition: var(--sp-transition);
}

.wc-block-components-radio-control--highlight-checked .wc-block-components-radio-control-accordion-option {
    box-shadow: inset 0 0 0 1px var(--sp-border-dark);
    transition: var(--sp-transition);
}

.wc-block-components-radio-control--highlight-checked .wc-block-components-radio-control-accordion-option:first-child {
    border-radius: 4px 4px 0 0;
}

.wc-block-components-radio-control--highlight-checked .wc-block-components-radio-control-accordion-option:last-child {
    border-radius: 0 0 4px 4px;
}

.wc-block-components-radio-control--highlight-checked .wc-block-components-radio-control-accordion-option--checked-option-highlighted,
.wc-block-components-radio-control--highlight-checked label.wc-block-components-radio-control__option--checked-option-highlighted {
    box-shadow: inset 0 0 0 1px var(--sp-primary2);
    transition: var(--sp-transition);
}

.wc-block-components-radio-control--highlight-checked .wc-block-components-radio-control-accordion-option--checked-option-highlighted .wc-block-components-radio-control__label-group {
    font-weight: 600;
}

.wc-block-checkout__payment-method .wc-block-components-radio-control__option {
    padding-left: 3.5em;
    padding-right: .75em;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.wc-block-checkout__payment-method .wc-block-components-radio-control__option,
.wc-block-checkout__payment-method .wc-block-components-radio-control__option:first-child,
.wc-block-checkout__payment-method .wc-block-components-radio-control__option:last-child {
    margin: 0;
    padding-bottom: 1em;
    padding-top: 1em;
}


.webique-emi-content {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}

.webique-emi-content a.webique_wcpemi-popup-trigger {
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.webique-emi-content a.webique_wcpemi-popup-trigger:after {
    font-family: 'FontAwesome';
    font-style: normal;
    content: "\f105";
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    margin-left: 5px;
    font-size: 18px;
    line-height: 21px;
}

.wc-block-components-totals-wrapper:after {
	border-width: 0 !important;
}
.wc-block-components-totals-wrapper {
	border-bottom: 0 !important;
}
.wp-block-woocommerce-checkout-order-summary-block .checkout-order-summary-block-fill .wc-block-components-totals-wrapper.wp-block-woocommerce-checkout-order-summary-cart-items-block:first-of-type {
	border-bottom: 1px solid hsla(0,0%,7%,.11) !important;
}
.wp-block-woocommerce-checkout {
	padding-top: 0 !important;
}
.wc-block-components-sidebar, .wp-block-woocommerce-checkout-order-summary-block .wc-block-components-checkout-order-summary__title {
	margin-top: 0!important;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__submit, .woocommerce .woocommerce-form-login .woocommerce-form-login__submit:hover, .woocommerce .woocommerce-form-login .woocommerce-form-login__submit:focus, .woocommerce .woocommerce-form-register .woocommerce-form-register__submit, .woocommerce .woocommerce-form-register .woocommerce-form-register__submit:hover, .woocommerce .woocommerce-form-register .woocommerce-form-register__submit:focus, 
.woocommerce div.product form.cart .button, .woocommerce span.onsale {
	background: var(--sp-gradient1);
	color: #ffffff;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__submit, .woocommerce .woocommerce-form-register .woocommerce-form-register__submit {
	padding: 8px 20px;
	line-height: unset;
}

.woocommerce span.onsale {
	left: 0.5em;
	top: 0.5em;
	width: 50px;
	height: 50px;
}
.woocommerce-message {
	border-top-color: var(--sp-primary2);
}

.woocommerce-page .woocommerce-message .button {
	background: var(--sp-gradient2);
	color:var(--sp-white);
}
.woocommerce-page .woocommerce-message .button:hover, .woocommerce-page .woocommerce-message .button:focus, .woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce #review_form #respond .form-submit input {
	background: var(--sp-gradient1);
	color:var(--sp-white);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce div.product .woocommerce-tabs ul.tabs li:not(.active):hover a {
	color: white;
}

.woocommerce table.shop_attributes tr:nth-child(even) th {
	color: inherit;
}
.woocommerce table.shop_attributes td {
	padding: 8px;
}.woocommerce table.shop_attributes td p {
	padding: 0;
}